* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  background: url('./Images//background.svg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.logoTitleImg {
  position: absolute;
  left: 40%;
  right: 37%;
  top: 11.03%;
  bottom: 76.55%;
}